@import "tailwindcss";
/* @plugin '@tailwindcss/forms'; */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.avatar {
    width: 35px;
    height: 35px;
    background: #3b82f6; /* สีพื้นหลัง */
    color: white;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
}

/* กำหนด Custom Component สำหรับปุ่ม */
@layer components {

  .background-login{
    @apply bg-white min-h-screen w-full flex flex-col;
  }

  .btn {
    @apply font-bold py-2 px-4 rounded-3xl cursor-pointer;
  }

  .btn:disabled {
    @apply disabled:opacity-50 disabled:cursor-not-allowed pointer-events-none;
  }

  .btn-primary {
    @apply bg-blue-500 hover:bg-blue-700 text-white;
  }

  .btn-secondary {
    @apply bg-gray-500 hover:bg-gray-700 text-white;
  }

  .btn-large {
    @apply py-3 px-6 text-lg;
  }

  .btn-red {
    @apply bg-red-400 hover:bg-red-300 text-white;
  }

  .form-input{
    @apply block w-full rounded-4xl px-4 py-4 text-base text-gray-900 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6 bg-gray-100;
  }


  //ส่วนหัว
  .nav-item {
    @apply flex items-center gap-3 px-3 py-2 rounded-md
           text-neutral-700 hover:bg-neutral-100
           focus:outline-none focus:ring-2 focus:ring-blue-500;
  }

  .nav-item.active {
    @apply bg-blue-50 text-blue-600 font-medium;
  }

  .sub-item {
    @apply block px-3 py-2 rounded-md text-neutral-600 hover:bg-neutral-100;
  }

  .card {
    @apply bg-white rounded-lg shadow-sm border border-neutral-200
           flex items-center justify-center;
  }

}



